<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
</head>
<body class="dark-theme">
    <h1>Space Biology Data Zoo</h1>
    <a href="/datasets">Explore Datasets</a><br>
    <a href="/models">Explore Models</a>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <div class="footer">
        <p>Developed by Alpha Tauri</p>
    </div>
</body>
<script src="{{ url_for('static', filename='js/applyLoadedClass.js') }}"></script>

